.artist-card{
    box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px,
        rgb(31 31 31 / 12%) 0px 1px 4px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.artist-card img{
    height: 100%;
}

.content-artist-card{
    font-size: 14px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    padding: 1em;
    /* display: flex;
    flex-direction: column; */
    align-self: center;
}

.title-artist-card{
    font-weight: 600;
}

.span-artist-card{
    color: #636363;
}
