.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(255,255,255,.85);
  border-top: 10px solid #008c44;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #504741;
}

.App-header img{
  width: 200px;
}

.App-footer {
  background-color: #008c44;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.App-container{
  background-color: #f9f5f3;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.cards-artist-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}